@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: Linotype Didot;
  src: url("../public/Linotype-Didot/DidotLTPro-Bold.ttf") format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-behavior: smooth;
  font-size: 14px;
  letter-spacing: 0.4px;
  font-family: 'Encode Sans Semi Condensed';
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.bg-primary {
  background-color: #FBFBFB;
}

.bg-secondary {
  background-color: #282828;
}